@import '~/components/Ceres/ceres.scss';
@import url('https://use.typekit.net/shl3znq.css');

body {
   font-family: upgrade-lights, sans-serif;
   font-weight: 500;
   font-style: normal;
}

*:focus {
   outline: none;
}

#root {
   height: 100vh;
}
